@charset "UTF-8";

/* フォント設定 */
* {
	color: #333;
	font-size: 1em;
	font-family: "游ゴシック","Yu Gothic","ヒラギノ角ゴ Pro W3",
				 "Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"MS Pゴシック",sans-serif;
	letter-spacing: 0.4px;
}

/* CSSリセット */
html,body,
header,main,footer,section,
table,tr,th,td,
div,ul,li,h1,h2,h3,p {
	margin: 0;
	padding: 0;
}

body {
	background-color: #222;
}

header {
	padding: 10px;
}

select,
input[type="text"],
input[type="submit"] {
	border: none;
	box-shadow: 0 0 5px #333;
	height: 30px;
	vertical-align: middle;
}
input[type="text"] {
	width: 50%;
}

input[type="submit"] {
	border: none;
	background: linear-gradient(#FFD700,#FFA500);
	box-shadow: 0 0 5px #333;
	cursor: pointer;
	transition: ease-in .1s;
}
input[type="submit"]:hover {
	box-shadow: 0 0 5px #fff;
}

a {
	text-decoration: none;
}

/*------------------------------
ヘッダー
------------------------------*/
header {
	background: transparent;
	border-top: solid 5px #333;
	margin-bottom: 10px;
}
.titleBox {
	display: inline-block;
	width: 200px;
}
.titleLogo a {
	display: inline-block;
	font-weight: bold;
	font-size: 2.2em;
	color: #0000cd;
	text-shadow: 2px 2px 0px #e0ffff;
	transition: .1s ease-in-out;
}
.titleLogo a:hover {
	transform: rotate(5deg);
}
.titleLogo a:after {
	background-color: #0000cd;
	bottom: 0;
	content: '';
	display: block;
	height: 2px;
	left: 0;
	position: absolute;
	transition: .1s all;
	width: 0;
}
.titleLogo a:hover:after {
	width: 100%;
}

#headBox {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: #fff;
}

#headImage {
	width: 150px;
	height: 100%;
}

/*------------------------------
ユーザー情報
------------------------------*/
.userBox {
	float: right;
	padding: 15px;
}

.loginButton {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	background: linear-gradient(#0000cd,#000080);
	padding: 10px 20px;
	border-radius: 10px;
}
.loginButton:hover {
	background: linear-gradient(#000080,#0000cd);
}

.registButton {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	background: linear-gradient(#32cd32,#008000);
	padding: 10px 20px;
	border-radius: 10px;
}
.registButton:hover {
	background: linear-gradient(#008000,#32cd32);
}

#menuBox ul {
	list-style: none;
}
#menuBox ul li {
	display: inline-block;
	width: 100px;
}

#bigImage {
	width: 100%;
	height: 400px;
	background-image: url(../images/top2.jpg);
	background-size: cover;
}

.topTitle {
	color: #fff;
	text-shadow: 0 0 5px #333;
	font-size: 1.5em;
}

#searchWrap {
	display: table;
	width: 100%;
	height: 300px;
}
.searchBox {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.content {
	margin: 10px auto;
	padding: 5px;
	width: 90%;
	border: solid #333;
	column-count: 5;
	column-gap: 0;
}

.grid {
	padding: 5px;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}

.grid img {
	width: 100%;
	cursor: pointer;
	transition: ease-in .1s;
}
.grid img:hover {
	box-shadow: 0 0 5px #fff;
}

.footerMenu {
	border-bottom: solid 3px #666;
	background-color: #ccc;
	padding: 20px;
}
.footerMenu ul {
	list-style: none;
	display: inline-block;
	width: 30%;
}
.footerMenu ul li {
	border-bottom: dotted 2px #333;
}

.copyright {
	text-align: center;
	color: #fff;
	margin: 20px;
}

@media  screen and (max-width: 960px) {
	.content {
		column-count: 4;
	}
}

@media screen and (max-width: 680px) {
	.content {
		column-count: 3;
	}
}

@media  screen and (max-width: 480px) {
	.content {
		column-count: 2;
	}
}