@charset "UTF-8";

/* フォント設定 */
* {
	color: #333;
	font-size: 1em;
	font-family: "游ゴシック","Yu Gothic","ヒラギノ角ゴ Pro W3",
				 "Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"MS Pゴシック",sans-serif;
	letter-spacing: 0.4px;
}
.blackBold {
	color: #000;
	font-weight: 800;
}

a {
	color: inherit;
	text-decoration: none;
}

/* CSSリセット */
html,body,
header,main,footer,section,
table,tr,th,td,
dl,dd,dt
div,ul,li,h1,h2,h3,p {
	margin: 0;
	padding: 0;
}
h2 {
	font-family: "Bookman Old Style" !important;
	font-weight: normal;
	font-size: 1.5em;
	margin-top: 20px;
	margin-bottom: 10px;
}
p{
	margin: 10px 0;
}

/*------------------------------
購入者情報入力画面
------------------------------*/
input[type="text"],
input[type="password"]{
	width: 300px;
}
input[type="submit"]{
	background: #fff;
	border: solid 2px #191970;
	color: #191970;
	font-size: 20px;
	padding: 10px 30px;
	margin-bottom: 10px;
	transition: .2s ease-in-out;
}
input[type="submit"]:hover{
	background: #191970;
	color: #fff;
	cursor: pointer;
}
input[type="reset"]{
	border: none;
	background: transparent;
	text-decoration: underline;
}
input[type="reset"]:hover{
	color: crimson;
	cursor: pointer;
}
sup{
	color: crimson;
}
table{
	margin-bottom: 20px;
	width: 100%;
	border-collapse: collapse;
}
tr{
	line-height: 35px;
}
th{
	background: #E0FFFF;
	border: solid 1px #333;
	text-align: right;
	padding-right: 10px;
	width: 200px;
}
td{
	border: solid 1px #333;
	padding-left: 10px;

}
#wrapper{
	width: 600px;
	margin: 0 auto;
	margin-bottom: 50px;
	padding:10px;
}
.buttonBox{
	text-align: center;
	margin: 10px;
}
.shortInput {
	width: 50px !important;
}
.attention {
	font-size: 2em;
	font-weight: bold;
}
#creditBox {
	display: none;
}
.backLink {
	color: blue;
}
.backLink:hover {
	text-decoration: underline;
}
.imgCost {
	float: right;
	font-weight: bold;
	font-size: 0.9em;
	color: navy;
}