@charset "UTF-8";

/* フォント設定 */
* {
	color: #333;
	font-size: 1em;
	font-family: "游ゴシック","Yu Gothic","ヒラギノ角ゴ Pro W3",
				 "Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"MS Pゴシック",sans-serif;
	letter-spacing: 0.4px;
}
.blackBold {
	color: #000;
	font-weight: 800;
}

a {
	color: inherit;
	text-decoration: none;
}

/* CSSリセット */
html,body,
header,main,footer,section,
table,tr,th,td,
div,ul,li,h1,h2,h3,p {
	margin: 0;
	padding: 0;
}
h1 {
	font-family: "Bookman Old Style" !important;
	font-weight: normal;
	font-size: 1.2em;
}
h2 {
	margin: 5px;
	line-height: 1.1;
	font-size: 1.1em;
}
ul {
	list-style-type: none;
}
img{
	width: 100%;
}
img:hover {
	opacity: 0.8;
}

select,
input[type="text"],
input[type="submit"] {
	border: none;
	box-shadow: 0 0 5px #333;
	height: 30px;
	vertical-align: middle;
}

#wrapper {
	margin: 0 auto;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

/*------------------------------
ヘッダー
------------------------------*/
header {
	padding: 10px;
	border-top: solid 5px #333;
}
.titleBox {
	display: inline-block;
	width: 200px;
}
.titleLogo a {
	display: inline-block;
	font-weight: bold;
	font-size: 2.2em;
	color: #0000cd;
	text-shadow: 2px 2px 0px #e0ffff;
	transition: .1s ease-in-out;
}
.titleLogo a:hover {
	transform: rotate(5deg);
}
.titleLogo a:after {
	background-color: #0000cd;
	bottom: 0;
	content: '';
	display: block;
	height: 2px;
	left: 0;
	position: absolute;
	transition: .1s all;
	width: 0;
}
.titleLogo a:hover:after {
	width: 100%;
}

/*------------------------------
ユーザー情報
------------------------------*/
.userBox {
	float: right;
	padding: 15px;
}

.loginButton {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	background: linear-gradient(#0000cd,#000080);
	padding: 10px 20px;
	border-radius: 10px;
}
.loginButton:hover {
	background: linear-gradient(#000080,#0000cd);
}

.registButton {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	background: linear-gradient(#32cd32,#008000);
	padding: 10px 20px;
	border-radius: 10px;
}
.registButton:hover {
	background: linear-gradient(#008000,#32cd32);
}

/*------------------------------
グローバルメニュー
------------------------------*/
#grobalMenu {
	height: 50px;
	background: #333;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	z-index: 9999;
}
#grobalMenu ul li {
	padding: 10px;
	float: left;
	display: inline-block;
	color: #fff;
}
.searchBox {
	width: 300px;
}
.linkLine {
	text-decoration: underline;
}
.menuLink {
	float: right !important;
}

.submitBox {
	border: none;
	background: linear-gradient(#FFD700,#FFA500);
	box-shadow: 0 0 5px #333;
	cursor: pointer;
	transition: ease-in .1s;
}
.submitBox:hover {
	box-shadow: 0 0 5px #fff;
}

/*------------------------------
メインエリア
------------------------------*/
main {
	width: 100%;
	padding: 20px 0;
}

/*------------------------------
コンテンツ
------------------------------*/
#contents {
	margin-left: 200px;
}
.searchResult h1 {
	display: inline-block;
}
.searchOption {
	padding-right: 10px;
	float: right;
	text-decoration: underline;
	font-size: 1.1em;
}

section {
	float: left;
	width: 200px;
	height: 300px;
	margin: 20px;
	box-shadow: 0 0 10px #ddd;
}
.imgBox {
	width: 200px;
	height: 150px;
	margin-bottom: 5px;
}
.catItem {
	font-size: 0.8em;
	color: #fff;
	background: blue;
	padding: 2px 5px;
	border-radius: 5px;
	margin: 5px;
}
.imgInfo li {
	margin: 0 5px;
	font-size: 0.8em;
	color: #aaa;
}
.imgCost {
	float: right;
	margin: 0 5px;
	font-weight: bold;
	font-size: 0.9em;
	color: navy;
}

/*------------------------------
ページネーション
------------------------------*/
.pageNation {
	padding: 20px;
	clear: both;
	margin: 20px 0px;
	text-align: center;
}
.pageNum {
	font-weight: bold;
	padding: 5px 10px;
	text-decoration: underline;
}
.current {
	background: #ddd;
}


/*------------------------------
サイドバー
------------------------------*/
aside {
	float: left;
	width: 200px;
	height: 100%;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 70px;
	z-index: 9998;
}
.sidebar {
	background-color: #eee;
}
.sidebar:before {
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	background: #ddd;
	position: absolute;
	transform: rotate(45deg);
	top: -10px;
	left: 80px;
	z-index: -1;
}
.sidebar ul li {
	background: #ddd;
	margin-bottom: 2px;
	padding: 10px 5px;
}
.sidebar ul li:last-child {
	margin: 0;
}

/*------------------------------
フッター
------------------------------*/
footer {
	clear: both;
}
.footerMenu {
	min-height: 200px;
	background: #666;
}
.footerLogo {
	background: #333;
	padding: 25px;
	text-align: center;
}
.copyright {
	text-decoration: underline;
	color: #fff;
}

/*------------------------------
注文完了画面
------------------------------*/
.orderBox {
	text-align: center;
}
.orderFin {
	margin: 20px auto;
	width: 80%;
	padding: 10px;
	font-size: 2em;
	color: #fff;
	background: navy;
}
.thxMsg {
	font-size: 2em;
	margin: 20px 0;
	text-decoration: underline #333;
}
.orderNumMsg {
	margin: 10px 0;
	font-size: 1.5em;
}
.orderNum {
	color: blue;
}