@charset "UTF-8";

.container {
    margin: 0 auto;
    border: 1px solid black;
    width: 720px;
    background-color: black;
}

/* メイン画像 */
#main_image {
    max-width: 100%;
}

/* サムネイル */
#thumbnails {
    margin: 5px;
}

ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    float: left;
    margin-right: 10px;
    width: 90px;
    height: 60px;
}

img.thumbnail_image {
    width: 90px;
    height: 60px;
}

.current_image {
    border: 3px solid white;
}

/* ナビゲーション */
.nav {
    display: inline-block;
}

.toolbar {
    overflow: hidden;
    text-align: center;
}

#prev,
#next {
    display: inline-block;
    color: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#page {
    height: 40px;
    color: white;
}