<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Photos</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header>
        <h1>My Photos</h1>
    </header>

    <div class="container">
		<div id="img_unit">
			<div class="photo" v-for="Photo in Photos">
				<img :src="Photo.path">
				<div class="inner">
					<p>{{ Photo.caption }}<span></span>{{ Photo.name }}<span></p>
				</div>
			</div>
		</div>
	</div>
	<script src="./js/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		var app = new Vue({
			el: '#img_unit',
			data: {
				Photos: []
			},
			created: function(){
				var self = this;
				$.getJSON('./images.json', function (data){
					self.Photos = data;
				});
			}
		});
	</script>
</body>
</html>