@charset "UTF-8";

body,header,main,nav,ul,li,p {
	margin: 0;
	padding: 0;
}

body {
	background: rgba(81,82,82,255);
}


/* Header */
header {
	background: rgba(27,27,27,255);
}
.logo_area {
	height: 100px;
}


/* Grobal Navigation */
nav {
	background: url("../images/navi_bg.jpg");
}
.gnav {
	max-width: 1000px;
	margin: 0 auto;
	list-style-type: none;
}
.gnav_row {
    display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	background: url("../images/navi_bg.jpg");
	justify-content: center;
}
.gnav_item {
	background: url("../images/navi_off.jpg");
	height: 50px;
	text-align: center;
	position: relative;
}
.gnav_item:before {
	position: absolute;
	content: "＼CLICK／";
	font-size: 10px;
	top: 10px;
	text-align: center;
	width: 100%;
	color: #fff;
	transition: .1s ease-in-out;
	opacity: 0;
}
.gnav_item:hover:before {
	top: 0;
	opacity: 1;
}
.gnav_item:hover {
	background: url("../images/navi_on.jpg");
	cursor: pointer;
}
.gnav_item:active:before {
	top: 2px;
}
.gnav_item a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	text-shadow: 0 2px 5px #ddd;
	line-height: 50px;
	color: #fff;
	font-size: 20px;
}
.gnav_item a:hover {
	color: #ffc;
}


/* Footer Navigation */
.top_navi {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 100px;
	height: 100px;
	z-index: 9999;
	background: url("../images/topnavi_off.png") no-repeat;
	text-align: center;
}
.top_navi:hover {
	animation: top_on .5s infinite alternate ease;
	background: url("../images/topnavi_on.png") no-repeat;
	cursor: pointer;
}
.top_navi a{
	display: inline-block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	text-shadow: 0 2px 5px #ddd;
	color: #fff;
	font-size: 15px;
	line-height: 100px;
}
@keyframes top_on {
	0% { height: 100px; }
	50% { height: 110px; }
	100% { height: 100px; }
}