@charset "utf-8";

body {
	background: #000;
}

h2 {
	color: white;
}

img {
	box-shadow: 0 0 5px greenyellow;
	animation-name: blink;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-timing-function: linear;
}

@keyframes blink {
	0% {
		box-shadow: 0 0 5px greenyellow;
	}
	50% {
		box-shadow: 0 0 5px transparent;
	}
	100% {
		box-shadow: 0 0 5px greenyellow;
	}
}