﻿@charset "utf-8";

* {
	margin:0;
	padding:0;
}
body {
	font-family:"游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",sans-serif;
}
#wrapp{
	width:400px;
	height:100px;
	margin:100px auto;
}
#header{
	font-size:150px;
}
p{
	font-size:2em;
	text-align:center;
	line-height:2em;
	float:left;
}
.on {
	width:200px;
	height:70px;
	background-color:#ffa500;
	color:#ffc0cd;

}
.off {
	width:200px;
	height:70px;
	background-color:#c0c0c0;
	color:#696969;
}
.light {
	width:200px;
	height:300px;
}

.button {
	width:200px;
	height:200px;
}
a {
	display:inline-block;
	width:512px;
	height:512px;
	background:url("../img/512.png") no-repeat;
	text-decoration:none;
}
a:hover{
	width:512px;
	height:512px;
	background:url("../img/512_Shin.png") no-repeat;
	text-decoration:none;
}