@charset "UTF-8";

/* フォント設定 */
* {
	color: #333;
	font-size: 1em;
	font-family: "游ゴシック","Yu Gothic","ヒラギノ角ゴ Pro W3",
				 "Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"MS Pゴシック",sans-serif;
	letter-spacing: 0.4px;
}

/* CSSリセット */
html,body,
header,main,footer,section,
table,tr,th,td,
div,ul,li,h1,h2,h3,p {
	margin: 0;
	padding: 0;
}

body {
	background-color: #222;
}

header {
	height: 100px;
	padding: 10px;
}

select,
input[type="text"] {
	box-shadow: 0 0 5px #333;
}

input[type="submit"] {
	border: none;
	background: linear-gradient(#FFD700,#FFA500);
	box-shadow: 0 0 5px #333;
	cursor: pointer;
	transition: ease-in .1s;
}
input[type="submit"]:hover {
	box-shadow: 0 0 5px #fff;
}

#headBox {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: #fff;
}

#headImage {
	width: 150px;
	height: 100%;
}

#menuBox {

}
#menuBox ul {
	list-style: none;
}
#menuBox ul li {
	display: inline-block;
	width: 100px;
}

#bigImage {
	display: table;
	width: 100%;
	height: 300px;
	background-image: url(../images/top2.jpg);
	background-size: cover;
}

.topTitle {
	color: #fff;
	text-shadow: 0 0 5px #333;
	font-size: 1.2em;
}

.searchBox {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.content {
	margin: 10px auto;
	padding: 5px;
	width: 90%;
	border: solid: #333;
	column-count: 5;
	column-gap: 0;
}

.grid {
	padding: 5px;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}

.grid img {
	width: 100%;
	cursor: pointer;
	transition: ease-in .1s;
}
.grid img:hover {
	box-shadow: 0 0 5px #fff;
}

.footerMenu {
	border-bottom: solid 3px #666;
	background-color: #ccc;
	padding: 20px;
}
.footerMenu ul {
	list-style: none;
	display: inline-block;
	width: 30%;
}
.footerMenu ul li {
	border-bottom: dotted 2px #333;
}

.copyright {
	text-align: center;
	color: #fff;
	margin: 20px;
}

@media  screen and (max-width: 960px) {
	.content {
		column-count: 4;
	}
}

@media screen and (max-width: 680px) {
	.content {
		column-count: 3;
	}
}

@media  screen and (max-width: 480px) {
	.content {
		column-count: 2;
	}
}