﻿@charset "utf-8";

/* リセットスタイル */
body * {
	margin:0;
	padding:0;
}

/* body全体に設定するスタイル */
body {
	/* 背景画像 */
	background-image:url("../img/hyakunin.png");
	background-color:#000;
	font-family:"游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",sans-serif;

}

/* wrapセレクタに適用するスタイル */
#wrap {
	width:1020px;
	/* wrapperボックスのマージンを自動調整 */
	margin:0 auto;
}

/* h1タグに対してスタイルを設定*/
h1 {
	/* 背景色設定 */
	background-color:#ffdedd;
	/* h1テキストを中央表示 */
	text-align:center;
	/* 文字間隔を設定 */
	letter-spacing:0.5em;
	/* 外の上下に対して余白を設定*/
	margin:20px 0;
}

/* pタグに対してスタイルを設定 */
p {
	/* 幅 */
	width:146px;
	/* 高さ */
	height:220px;
	/* 背景色 */
	background-color:#f0e86c;
	/* 回り込み */
	float:left;
	/* 文字サイズ */
	font-size:1.2em;
	/* 内余白を設定 */
	padding:15px;
	/* 文字間隔 */
	letter-spacing:0.1em;
	/* 行間隔 */
	line-height:1.6em;
	/* 枠線 重線 太さ 色*/
	border:solid 10px #228b22;
	/* 外余白 */
	margin:2px;
}
/* kaminoku 親ブロック */
#kaminoku {
	/* 親ブロックの範囲を確認
	background-color:#ff0000;
	*/
	/* 高さ */
	height:800px;
	/* 縦方向のオーバフロー設定 */
	overflow-y:scroll;
}
/* setsumei クラスセレクタ */
.setsumei {
	/* 回り込みの取り消し */
	clear:left;
	/* 枠線を無効 */
	border:none;
	/* 背景を変更 */
	background-color:#90ee90;
	/* 幅変更 */
	width:948px;
	/* 高さ変更 */
	height:70px;
}